*{
	box-sizing: border-box;
}

header,html,body,div,p,nav,ul,li,a,h1,h2,span{
	margin: 0;
	
}
/* .wrapper {
  max-width: 990px;
  margin: 0 auto;
  height: inherit;
  overflow: hidden;
} */

header{
	background: black;
	margin: 0;
    float: none;
    text-align: center;
}

header img{
	float: left;
  	margin-top: 6px;
  	max-width: 130px;
  	margin-left: 20px;

}


header li{	
	height: 40px;
	overflow: hidden;
	border-radius: 19px;
	margin: 5px
}

header ul{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 7px;
	font-size: 18px;
	color: red;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	
}

li a,
li a:before{
	display: block;
	background:#FFA60A;
	color: black;
	line-height: 40px;
	text-decoration: none;
	padding: 0 26px;
	position: relative;
	font-size: 18px;


}

 li a:before{
	content: attr(data-clone);
	position: absolute;
	background: #eee	;
	top: 100%;
	left: 0;
	color: black;
} 

ul a:hover{
	margin-top: -40px;
	transition: all 0.8s;
}

@media screen and (max-width: 550px) {
  	 
  	 header ul{
  	 	display:inline-flex;
		flex-wrap: wrap;
		justify-content: center;
  	 }

header img{
	margin-left: 40px;
    float: none;
    

}
	li a,
	li a:before{
		padding: 0 100px
}
  }
body{
	background: #91EEFF;
}
.content{
	width: 60%;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

.content-1{
	width: 50%;
	float: left;
	padding: 10px

}

.content-2{
	width: 50%;
	float: right;
	padding: 10px
}

.content-3{
	width: 100%;
	padding: 10px;
	float:right;

}

.incontent-1{
	min-height: 350px;
	background: green;
} 

.incontent-2{
	background: blue;
	min-height: 350px;
}

.incontent-3{
	background: orange;
	min-height: 200px;


}


.incontent{
	background:yellow;
	min-height: 600px;
	
}

.sidebar1{
	width: 20%;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
}

.insidebar1{
	background:red;
	min-height: 520px;


}
.sidebar2{
	width: 20%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 5px;
}

.insidebar2{
	background:red;
	min-height: 520px;
}
.footer{
	width: 40%;
	float: right;
	padding-left:  10px;
	padding-top: 10px;
	padding-right: 10px;
}

.infooter{
	background: blue;
	min-height: 70px;

}

.footer2{
	width: 100%;
	float: right;
	padding-left:  10px;
	padding-top: 10px;
	padding-right: 10px;
}

.infooter2{
	background: blue;
	min-height: 70px;

}


.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */